*,
html,
body{
    padding: 0;
    margin: 0;

    font-family: sans-serif;
    letter-spacing: 0.2pt;
}


/* NAVBAR START */
nav{
    width: 100%;

    margin: auto;
    text-align: center;

}

nav .container{
}

nav .container ul{
    padding: 10px;

    background-color: #027a7e;

}

nav .container ul li{
    display: inline-block;
    padding: 5px;

    list-style-type: none;

    width: 80%;
}


nav .container ul li .judul{

    font-size: 34px;

}

nav .container ul li a{
    color: white;

    text-decoration: none;
    font-size: 20px;

    padding: 10px;
} nav .container ul li a:hover{
    color: white;

    border-radius: 5px;
    text-decoration: underline;
    text-underline-offset: 5px;

    box-shadow: 0 0 400px 1px white;
}
/* NAVBAR END */


/* Hero START */
.hero{
    width: 100%;
}

.hero .container{
    padding: 10px;
}

.hero .container a{
    width: 100%;
}

.hero .container a img{
    width: 100%;

    max-height: 500px;
    object-fit: cover;
}
/* Hero END */


/* Background content */
.background-content{
    background-color: #00979C;
}

/* Background content */
/* Content START */
.content{
    margin: auto;

    max-width: 100%;
    display: flex;
    justify-content: center;

    min-width: 100%;
    color: white;
}

.content .container{
    padding: 40px;
}

/* Content END */



/* Arduino START */
.arduino{
    width: 100%;
}

.arduino .container{
    padding: 10px;
}

.arduino .container ul{
    display: flex;
    justify-content: center;
}

.arduino .container ul a{
    padding: 5px;
}

.arduino .container ul a img{
    width: 100%; 

}


/* Arduino END */



.praktik{
    margin: auto;
    color: white;

    max-width: 100%;
    /* display: flex;
    justify-content: center; */
    


    min-width: 100%;

    background-color: #027a7e;
}

.praktik .container{
    padding: 20px; 
}

.praktik .container table tr td img{
    width: 100%;
    
}

.praktik .container img{
    max-width: 100%;

    max-height: 600px;
}

/* Praktik END */



/* Hari Selanjutnya START */
.hari-selanjutnya{
    margin: auto;
    color: white;

    max-width: 100%;
    /* display: flex;
    justify-content: center; */

    min-width: 100%;

    background-color: #00979C;
}

.hari-selanjutnya .container{
    padding: 20px; 
}

.hari-selanjutnya img{
    max-width: 100%;

    max-height: 600px;
}

.hari-selanjutnya .kode_program{
    text-align: center;
    background-color: #ff9632;
}


.hari-selanjutnya h3{
    text-align: center;
    background-color:#FF5733;
}

.hasil_program{
    display: flex;

}

.hasil_program .container ul{
    inline-size: 100%;
}

.hasil_program .container video{
    max-width: 100%;

    max-height: 600px;
}

.hasil_program .container img{
    max-width: 100%;

    max-height: 600px;
}
/* Hari Selanjutnya END */



/* Hari ke 5 START */
.hari_ke_5{
    margin: auto;
    color: white;

    max-width: 100%;
    /* display: flex;
    justify-content: center; */

    min-width: 100%;

    background-color: #027a7e;
}


.hari_ke_5 .container{
    padding: 20px;
}

.hari_ke_5 .container img{
    max-width: 100%;

    max-height: 600px;
}


/* Hari ke 5 END */



/* Hari ke 6 START */
.hari_ke_6{
    margin: auto;
    color: white;

    max-width: 100%;
    /* display: flex;
    justify-content: center; */

    min-width: 100%;

    background-color: #00979C;
}

.hari_ke_6 .container{
    padding: 20px;
}

.hari_ke_6 .container img{
    max-width: 100%;

    /* max-height: 600px; */
}


.hari_ke_6 .project{
    width: 100%;
}

.hari_ke_6 .project .container{
    display: flex;
    justify-content: center;
}

.hari_ke_6 .project .container ul{
    border: 2px solid white;
    padding: 10px;

    background-color: black;
}
/* Hari ke 6 END */


/* Hari ke 8  START */
.hari_ke_8{
    padding: 20px;
}
/* Hari ke 8  END */

/* Hari ke 9  START */
.hari_ke_9{
    padding: 20px;
    background-color: red;

    color: white;
}
/* Hari ke 9  END */







/* TANGGAL START */
.tanggal{
    padding:10px;
}
/* TANGGAL END */
